# Reference: https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
# Blacklist files/folders in same directory as the .gitignore file
/*
!.gitignore
!*.md
!*.pdf
!*.tex

!images/
